<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FilePath" value="$FilePath$"/>
		<add key="senderEmailAddress" value="$YourEmailAddress$"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournament" connectionString="Server=$YourSqlServerName$; Database=$dbName$; Trusted_connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host ="127.0.0.1" userName="$Name$" password="$passwd$" port="25" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
